<!DOCTYPE html>
<html lang="en" style="background:blue">
<head>
    <meta charset="UTF-8">
    <title style="font-size=40px">Flask Web App</title>
</head>
<body>
    <h1 style="font-size:40px;color:red">Welcome to Flask!</h1>
    <button id="alertBtn">Click Me</button>
    <button id="nextPage">Next Page</button>
    <button id="loadImage">Load Image</button>
    

    <input type="file" id="localImage" accept="image/*">
    <br><br>
    <img id="imageDisplay" style="max-width: 300px; display: none;">
    <script src="/static/script.js"></script>
    
</body>
</html>
